.color-primary {
    color: var(--color-primary);
}

header .navbar {
    --bs-navbar-nav-link-padding-x: 0;
    --bs-navbar-nav-link-padding-y: 0;
    --bs-navbar-padding-y: 1.125rem;
    --bs-navbar-active-color: #FEB952;
    width: 100vw;
}

.header_height {
    height: var(--header-height);
}

.sticky header .navbar {
    box-shadow: var(--bs-box-shadow-sm);
}

header .navbar-nav {
    --bs-nav-link-padding-y: 0;
    --bs-nav-link-color: #143952;
    --bs-nav-link-font-weight: 700;
}

header .navbar-nav.col_left {
    --bs-nav-link-hover-color: #EFB532;
}

header .col_right .navbar-nav {
    --bs-nav-link-color: #EFB532;
}

header .dropdown-menu {
    --bs-dropdown-font-size: var(--bs-nav-link-font-size);
    background: #143952;
    border: 0;
    border-radius: 0;
    color: #fff;
    --bs-dropdown-padding-y: 1.72rem;
}

header .dropdown-toggle::after {
    transform: scale(3);
    position: absolute;
    z-index: 1001;
    top: 2rem;
    left: 50%;
    margin-left: 0;
    visibility: hidden;
}

header .dropdown-toggle.show::after {
    visibility: visible;
}

header .list_nav {
    padding-top: 0.625rem;
    border-top: 1px solid #7397AB;
}

header .list_nav .item {
    width: 9.375rem;
    text-align: center;
    border-left: 1px solid #7397AB;
}

header .list_nav .item:last-child {
    border-right: 1px solid #7397AB;
}

header .list_nav .icon .img {
    width: 2.73013rem;
    height: 2.73019rem;
    border-radius: 50rem;
    margin-bottom: .94rem;
}

header .list_nav .txt1 {
    color: #FEB952;
    font-size: 0.71875rem;
    line-height: 121.739%;
    margin-bottom: .64rem;
}

header .list_nav .text {
    font-weight: 600;
    margin-bottom: .61rem;
    line-height: 1.2;
}

.btn {
    border: 0;
    --bs-border-radius: .75rem;
    --bs-btn-font-size: var(--bs-body-font-size);
    padding: 0.6rem 0.625rem;
    font-weight: 700;
    line-height: 1.2;
    white-space: nowrap;
    min-width: 5.22638rem;
    text-align: center;
}

.btn-primary {
    --bs-btn-bg: #143952;
    --bs-btn-border-color: #143952;
    --bs-btn-hover-bg: #1F5478;
    --bs-btn-hover-border-color: #1F5478;
    --bs-btn-active-bg: #1F5478;
    --bs-btn-active-border-color: #1F5478;
}

.btn-warning {
    --bs-btn-bg: #FEB952;
    --bs-btn-border-color: #FEB952;
    --bs-btn-hover-bg: #FFC46C;
    --bs-btn-hover-border-color: #FFC46C;
    --bs-btn-active-bg: #FFC46C;
    --bs-btn-active-border-color: #FFC46C;
}

.home_page {}

.section1 {
    padding-bottom: 1.875rem;
}

.section1 .banner_main {
    margin-bottom: 2rem;
}

.section1 .col_right {
    position: relative;
}

.section1 .txt1 {
    color: #143952;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1;
    margin-bottom: 1.5rem;
}

.section1 .txt2 {
    color: #FEB952;
    font-family: "PT Serif";
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.25;
    /* 125% */
}

.section1 .txt3 {
    color: #143952;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 1.5rem;
}

.section2 .list {
    gap: 1.68rem;
    background: #E0E9EF;
}

.section2 .item {
    position: relative;
}

.section2 .item .box_text {
    background: #fff;
    padding: 1.76rem .89rem 1.2rem;
    position: relative;
}

.section2 .item .image {
    width: 12.9375rem;
}

.section2 .item .icon {
    width: 2.9375rem;
    right: 0.875rem;
    top: .95rem;
}

.section2 .item .icon .img {
    border-radius: 50rem;
}

.section2 .item .txt1 {
    font-size: 1rem;
    font-weight: 700;
    color: #143952;
    margin-bottom: .88rem;
    line-height: 1;
}

.section2 .item .txt2 {
    font-size: 0.75rem;
    font-weight: 600;
    margin-bottom: 1.74rem;
    line-height: 1;
}

.section2 .item .text {
    margin-bottom: 1.1rem;
}

.section2 .item .text:last-child {
    margin-bottom: 0;
}

.section2 .hstack.gap-x {
    gap: .8rem;
}

.section3 .col_inner {
    padding-left: 9.31rem;
    padding-right: 18.25rem;
    padding-top: 3.22rem;
    padding-bottom: 3rem;
}

.section3 .txt1 {
    color: #143952;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 1.47rem;
}

.section3 .text {
    margin-bottom: 2rem;
}

.section4 {
    padding-bottom: 3.63rem;
}

.section4 .list .row {
    --bs-gutter-x: 0.89rem;
    --bs-gutter-y: 0.89rem;
}

.section4 .item {
    background: #E0E9EF;
    padding: 1.55rem 1.08rem 1.09rem 1.18rem;
}

.section4 .item .icon {
    width: 2.9375rem;
    right: 0.66rem;
    top: .73rem;
}

.section4 .txt1,
.title_big {
    color: #FEB952;
    font-family: "PT Serif";
    font-size: 2.5rem;
    line-height: 1;
    margin-bottom: 3.11rem;
    font-weight: 400;
}

.section4 .txt2 {
    color: #FEB952;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: .86rem;
}

.section4 .txt3 {
    color: #2C2E35;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 1.36rem;
}

.section4 .text {
    margin-bottom: 1.64rem;
}

.page2 {}

.section1.style2 {
    padding-bottom: 2.82rem;
}

.section1.style2 .txt4 {
    color: #143952;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: .86rem;
}

.title_big sub {
    font-size: 0.75rem;
}

.section2.style2 .item .box_text {
    background: transparent;
    padding-top: 0;
    padding-right: 0;
}

.section2.style2 .item .txt1 {
    margin-bottom: 1.8rem;
}

.section2.style2 .item .txt4 {
    font-size: .75rem;
    color: #143952;
    margin-bottom: .85rem;
    font-weight: 700;
    line-height: 1;
}

.section3.style2 .prices-section {
    background: #E0E9EF;
    padding: 1.42rem 1.3rem 2rem;
    margin-bottom: 1.99rem;
}

.section3.style2 .prices-section .txt2 {
    color: #143952;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 100%;
    /* 0.75rem */
    margin-bottom: 1.33rem;
}

.page3 {}

.section4.style2 {
    padding-bottom: 2.3rem;
}

.section4.style2 .item .icon {
    width: 2.06813rem;
    height: 2.06813rem;
    line-height: 2.06813rem;
    background: #FEB952;
    text-align: center;
    color: #fff;
    font-size: 0.75rem;
    font-weight: 700;
    margin-bottom: .65rem;
}

.section4.style2 .item .txt3 {
    color: #143952;
    margin-bottom: .41rem;
}

.section4.style2 .item .text-editor p:first-child {
    margin-bottom: 1.31rem;
}

.page4 {}
.section2.style4{
    padding-bottom:2.97rem;
}
.section2.style4 .list ul {
    margin-bottom: 0;
}

.section2.style4 .list li+li {
    margin-top: .82rem;
}

.section3.style3 .txt2 {
    font-size: .75rem;
    color: #143952;
    font-size: 0.75rem;
    font-weight: 700;
    margin-bottom: .85rem;
    line-height: 1.2;
}
.five_circle{
    gap:1.32rem;
}
.five_circle .circle {
    width: 5.20181rem;
    height: 5.20181rem;
    flex-shrink: 0;
    background: #FEB952;
    border-radius: 50%;
    color: #FFF;
    font-size: 0.625rem;
    font-weight: 700;
    /* 0.625rem */
    display: flex;

    align-items: center;
    justify-content: center;
    text-align: center;
}

footer {}

.footer_top {
    background: #143952;
    color: #fff;
    padding-top: 1.85rem;
    padding-bottom: 2.25rem;
}

.footer_top .txt1 {
    color: #FEB952;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 1.73rem;
}

.footer_top .text {
    margin-bottom: 1.6rem;
}

.footer_top .address .item {
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1;
}

.footer_top .address .item h4 {
    color: #FEB952;
    margin-bottom: .5rem;
    line-height: 1;
}

.footer_top .address .item p+p {
    margin-top: .5rem;
    line-height: 1;
}

.footer_bot .nav_simple {
    color: #143952;
    padding-top: .5rem;
    padding-bottom: 1rem;
}

.footer_bot .list_logo {
    gap: 1.5rem;
}

.footer_bot .logo_brand {
    height: 3.0625rem;
    object-fit: contain;
}

.footer_bot .list_social {
    font-size: 1rem;
    gap: 1.25rem;
}

/* mobile */
@media (max-width: 991.98px) {
    header {}

    header .navbar {
        --bs-navbar-padding-y: 0.875rem;
        --bs-nav-link-font-size: 0.875rem;
    }

    header .navbar-nav {
        gap: 1rem;
    }

    header .dropdown-toggle {
        position: relative;
        display: inline;
    }

    header .dropdown-toggle::after {}

    header .navbar-nav .dropdown-menu {
        width: 100vw;
        position: relative;
        left: -1rem;
        --bs-dropdown-spacer: .875rem;
    }

    header .list_nav .item {
        width: 7.8125rem;
    }

    header .list_nav .item:last-child {
        width: 7.75rem;
    }

    header .list_nav .text {
        font-size: 0.5625rem;
    }

    header .offcanvas {
        --bs-offcanvas-width: 100vw;
        --bs-offcanvas-padding-x: .875rem;
    }

    header .offcanvas-header .btn-close {
        background-position: left center;
    }

    .home_page {}

    .section1 .col_left .col_inner {
        width: 100vw;
        position: relative;
        left: -.875rem;
    }

    .section1 .col_right .icon {
        width: 3.809rem;
        right: 0;
        top: -1.5rem;
    }

    .section1 .txt2 {
        font-size: calc(1.375rem + 1.5vw);
        margin-bottom: 1.5rem;
    }

    .section2 .list {
        padding: 1.55rem .875rem 1.09rem .875rem;
        position: relative;
        width: 100vw;
        left: -.875rem;
    }

    .section2 .item .box_text {
        padding: 2.64rem 1.08rem 1.09rem 1.18rem;
    }

    .section2 .item .image {
        width: 100%;
    }

    .section3 .col_inner {
        padding-left: 0;
        padding-right: 0;
    }

    .section4 .txt1,
    .title_big {
        font-size: calc(1.325rem + .9vw);
    }

    .section4 .item {}

    .page2 {}

    .section2.style2 .item .image {
        margin-bottom: 2rem;
    }

    .section2.style2 .item .box_text {
        padding-left: 0;
    }

    .section3.style2 .prices-section {
        position: relative;
        width: 100vw;
        left: -.875rem;
        padding-left: .875rem;
        padding-right: .875rem;
    }

    .page3 {}
    .page4{}
    .section1.style3 .col_left .col_inner{
        width:100%;
        position:static;
    }
    .banner_main .row.bonhinhnho {
        --bs-gutter-x:.875rem;
        --bs-gutter-y:0.625rem;
    }
    .banner_main .row.bonhinhnho .img{
        height:9.75rem;
    }
    footer {}

    .footer_top {
        width: 100vw;
        position: relative;
        left: -0.875rem;
        padding-left: 0.875rem;
        padding-right: 0.875rem;
    }

    .footer_bot .list_logo {
        gap: 1.25rem;
        margin-bottom: 1rem;
    }

    .footer_bot .logo_brand {
        height: 2rem;
    }
}

/* desktop */
@media (min-width: 992px) {
    header {}

    header .navbar-expand-lg .navbar-nav {
        gap: 1.6875rem;
    }

    header .navbar-expand-lg .navbar-nav .nav-link {
        position: relative;
    }

    header .navbar-expand-lg .navbar-nav .nav-item+.nav-item .nav-link:before {
        content: "|";
        position: absolute;
        color: var(--bs-nav-link-color);
        left: -0.875rem;
        line-height: normal;
    }

    header .container {
        position: static;
    }

    header .dropdown {
        position: static;
    }

    header .dropdown-menu {
        width: 100vw;
        margin-top: 0 !important;
        left: 0;
        top: 100%;
        transition: all .3s;
        display: block !important;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    header .dropdown-menu.show {
        visibility: visible;
        opacity: 1;
        pointer-events: all;
    }

    .home_page {}

    .section1 .banner_main {
        width: 35.34375rem;
        margin-right: 1.86rem;
    }

    .section1 .col_right {
        padding-top: 6.44rem;
    }

    .section1 .col_right .icon {
        width: 3.809rem;
        right: 0;
        top: 1.25rem;
    }

    .section1 .col_bottom {
        padding-left: 9.31rem;
        padding-right: 18.25rem;
    }

    .section2 .list {
        width: 50.27069rem;
        padding: 3.76rem 18.6rem 3.76rem 8.42rem;
    }

    .section2 .item .image {
        position: absolute;
        left: 33.5625rem;
        top: 0;
    }

    .section2 .item .box_text {
        width: 23.25294rem;
        min-height: 15.64519rem;
    }

    .section4 .list {
        width: 36.67319rem;
        margin-left: 9.31rem;
    }

    .section4 .item {
        height: 100%;
        /*min-height: 17.71481rem;*/
    }

    .page2 {}

    .section2.style2 .list {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }

    .section2.style2 .item {
        min-height: 19.125rem;
    }

    .section2.style2 .item .image {
        width: 20.1875rem;
        left: 27.875rem;
    }

    .section3.style2 .col_inner {
        padding-right: 19.25rem;
    }

    .section3.style2 .prices-section {
        width: 36.33194rem;
    }

    .page3 {}

    .section2.style3 .item {
        min-height: auto;
    }

    .section2.style3 .item .image {
        width: 13.0625rem;
        left: 33.5625rem;
    }

    .section2.style3 .item .box_text {
        padding-bottom: 0;
        min-height: auto;
        width: 28.125rem;
    }

    .img_page4 {
        width: 27rem;
    }

    .section2.style4 .item .box_text {
        width: 28.75rem;
    }

    .section3.style3 .col_inner {
        padding-right: 17.6875rem;
    }
    .five_circle{
        width:45.4375rem;
    }
    .banner_main .row.bonhinhnho{
        --bs-gutter-x:0.9375rem;
        --bs-gutter-y:0.625rem;
    }
    .banner_main .row.bonhinhnho .img{
        height:16rem;
    }
    footer {}

    .footer_top {
        padding-left: 9.31rem;
        padding-right: 17.8125rem;
    }
}

@media (min-width: 1920px) {}