.color-primary {
    color: var(--color-primary);
}
.logo_img{
    height:4rem;
}
header .navbar {
    --bs-navbar-nav-link-padding-x: 0;
    --bs-navbar-nav-link-padding-y: 0;
    --bs-navbar-padding-y: 1.125rem;
    --bs-navbar-active-color: #00A75D;
    width: 100vw;
}

.header_height {
    height: var(--header-height);
}

.sticky header .navbar {
    box-shadow: var(--bs-box-shadow-sm);
}

header .navbar-nav {
    --bs-nav-link-padding-y: 0;
    --bs-nav-link-color: #5b5766;
    --bs-nav-link-font-weight: 400;
}


.btn {
    border: 0;
    --bs-border-radius: .75rem;
    --bs-btn-font-size: var(--bs-body-font-size);
    padding: 0.6rem 0.625rem;
    font-weight: 700;
    line-height: 1.2;
    white-space: nowrap;
    min-width: 5.22638rem;
    text-align: center;
}


/* mobile */
@media (max-width: 991.98px) {
    header {}

    header .navbar {
        --bs-navbar-padding-y: 0.875rem;
        --bs-nav-link-font-size: 0.875rem;
    }

    header .navbar-nav {
        gap: 1rem;
    }

    header .offcanvas {
        --bs-offcanvas-width: 100vw;
        --bs-offcanvas-padding-x: .875rem;
    }

    header .offcanvas-header .btn-close {
        background-position: left center;
    }
}

/* desktop */
@media (min-width: 992px) {
    header {}

    header .navbar-expand-lg .navbar-nav {
        gap: 1.6875rem;
    }

    header .navbar-expand-lg .navbar-nav .nav-link {
        position: relative;
    }

    header .container {
        width:60rem;
    }
    .hero1{
        height: 62.5rem;
        background-image:url(../images/herobanner1.jpeg);
    }
}

@media (min-width: 1920px) {}